

.box {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid gray;
  padding: 30px;
  border-radius: 10px;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.formSearch{
  position: relative;
  top: -57px;
  background-color: initial;
  border: 1px solid gray;
  border-radius: 4px;
}
h1{
  position: relative;
  top: -55px;
  left: 87px;
}
.temp{
  position: relative;
  top: -95px;
  left: 135px;

}
h2{
  position: relative;
top: -60px;
left: -5px;

}
h3{
  position: relative;
top: -60px;
left: -5px;
}
.search{
  position: relative;
 top: -29px;
  left: -35px;
}
.geo{
  position: relative;
  top: -29px;
   left: -105px;
}
.smallW {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 5px;
  margin: 5px;
}

.footer{
  font-size: smaller;
  text-align: center;
  margin-top: 10px;
}