body{
  background-image: url("25503.jpg") !important;
 
}

.box {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #FFF7F3;
  padding: 30px;
  border-radius: 10px;
  background-color: #FFC098;
  font-family: Google Sans,arial,sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  opacity: 70%;
}

 .icon{
  position: relative;
  top: -15px;
 }


.formSearch{
width: 395px !important;
  background-color: initial;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 3px 6px !important;
  border: 1px solid #FFF7F3 !important;
}
h1{
  position: relative;
  top: 15px !important;

  text-align: center;
  font-weight: 400;
}
.temp{

  position: relative;
  top: 35px !important;
left: -15px;

}

.cTemp{
  text-decoration: none;
  color: #004E71;
  

}



.fTemp{
  text-decoration: none;
  color: #004E71;
  
}



h2{
  font-size: 22px !important;

}
h3{
  font-size: 22px !important;
  
}
.description {
  font-size: 12px;
}
.btn-primary{
  background-color:#004E71 !important;
padding: 3px 6px !important;
border: 1px solid #FFF7F3 !important;
}
.col{
  padding: 3px !important;
}
.col-2{
  padding: 9px !important;
}

.weather-forecast-date {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  font-size: 13px;
}

.footer{
  font-size: smaller;
  text-align: center;
  margin-top: 10px;
}